html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "PT Sans", system-ui, sans-serif;
  margin-bottom: 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

h1 {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

.bg-black {
  background-color: #000;
}

.navbar {
  margin-bottom: 1rem;
}

.nav-item {
  font-weight: bold;
  font-size: 2rem;
}

.navbar-brand-img {
  height: 4rem;
}

.animation-fadein,
main,
footer {
  animation: fadeIn .2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  max-width: 40rem;
}

.project {
  margin: 1rem;
  height: 17rem;
  width: 17rem;
  padding: .5rem;
  position: relative;
  transition: all ease .2s;
}

.project:hover {
  background-color: rgba(255, 255, 255, .13);
  transform: scale(1.06);
}

.project-dark {
  background-color: rgba(0, 0, 0, .54);
}

.project-dark:hover {
  background-color: rgba(0, 0, 0, .87);
}

.project-heading {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  right: .5rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.circle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 1rem;
}

.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bg-ohmygarden {
  background-color: #28a745;
}

.bg-gradient-ohmygarden {
  background: linear-gradient(-45deg, #004D40, #1B5E20, #33691E) no-repeat center center fixed;
  background-color: #000;
}

.project-ohmygarden {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #28a745, 0 0 .5rem .25rem rgba(255, 255, 255, 0.1);
}

.bg-canterburytheatreguild {
  background-color: #007597;
}

.bg-gradient-canterburytheatreguild {
  background: linear-gradient(-45deg, #0D47A1, #01579B, #006064) no-repeat center center fixed;
  background-color: #000;
}

.project-canterburytheatreguild {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #007597, 0 0 .5rem .25rem rgba(255, 255, 255, 0.1);
}

.bg-toolsforinformationprocesses {
  background-color: #d14200;
}

.bg-gradient-toolsforinformationprocesses {
  background: linear-gradient(-45deg, #880e4f, #b71c1c, #bf360c) no-repeat center center fixed;
  background-color: #000;
}

.project-toolsforinformationprocesses {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #d14200, 0 0 .5rem .25rem rgba(255, 255, 255, 0.1);
}

.bg-prioritab {
  background-color: #222222;
}

.bg-gradient-prioritab {
  background: linear-gradient(135deg, #616161, #424242, #212121) no-repeat center center fixed;
  background-color: #000;
}

.project-prioritab {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #222222, 0 0 .5rem .25rem rgba(255, 255, 255, 0.1);
}

.bg-steelmagnolias {
  background-color: #9C27B0;
}

.bg-gradient-steelmagnolias {
  background: linear-gradient(135deg, #880E4F, #4A148C) no-repeat center center fixed;
  background-color: #000;
}

.project-steelmagnolias {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #9C27B0, 0 0 .5rem .25rem rgba(255, 255, 255, 0.1);
}

.bg-littlemermaid {
  background-color: #00778e;
}

.bg-gradient-littlemermaid {
  background: linear-gradient(135deg, #01579B, #006064, #004D40) no-repeat center center fixed;
  background-color: #000;
}

.project-littlemermaid {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #00778e, 0 0 .5rem .25rem rgba(255, 255, 255, 0.1);
}

.bg-avenueq {
  background-color: #F06E31;
}

.bg-gradient-avenueq {
  background: linear-gradient(135deg, #E65100, #BF360C, #B71C1C) no-repeat center center fixed;
  background-color: #000;
}

.project-avenueq {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #F06E31, 0 0 .5rem .25rem rgba(255, 255, 255, 0.1);
}

.bg-sydneysecondarycollege {
  background-color: #233e99;
}

.bg-gradient-sydneysecondarycollege {
  background: linear-gradient(135deg, #01579B, #0D47A1, #1A237E) no-repeat center center fixed;
  background-color: #000;
}

.project-sydneysecondarycollege {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #233e99, 0 0 .5rem .25rem rgba(255, 255, 255, 0.1);
}

.bg-9to5 {
  background-color: #EE374D;
}

.bg-gradient-9to5 {
  background: linear-gradient(135deg, #E65100, #B71C1C) no-repeat center center fixed;
  background-color: #000;
}

.project-9to5 {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #EE374D, 0 0 .5rem .25rem rgba(255, 255, 255, 0.1);
}
