* {
  box-sizing: border-box;
  margin: 0;
  color: #FFF;
}

body {
  font-family: "PT Sans", sans-serif;
  background: -webkit-linear-gradient(310deg, #880e4f, #b71c1c, #bf360c) no-repeat center center fixed;
  background: linear-gradient(140deg, #880e4f, #b71c1c, #bf360c) no-repeat center center fixed;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

nav {
  min-height: 4rem;
  background-color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-items {
  overflow-y: hidden;
  overflow-x: auto;
}

.nav-items a {
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.nav-logo {
  padding: 0 1rem;
}

.content {
  max-width: 48rem;
}

header {
  margin-left: auto;
  margin-right: auto;
}

main {
  -webkit-animation: fadeIn 1s ease;
  animation: fadeIn 1s ease;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer {
  padding: 1rem;
  text-align: center;
}

.card {
  background-color: rgba(0, 0, 0, .54);
  margin: 1rem;
  height: 17rem;
  width: 17rem;
  padding: .5rem;
  display: block;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s
}

.card:hover {
  background-color: rgba(0, 0, 0, .87);
}

.display1 {
  font-size: 2rem;
  padding: 2rem;
}

.display2 {
  font-size: 1.1rem;
  padding: 1rem
}

.active {
  text-decoration: underline;
}

.card-heading {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
}

.circle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 1rem;
}

.circle img {
  max-width: 100%;
}

.text-center {
  text-align: center!important;
}

.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.site-screenshot {
  display: block;
  max-width: 40rem;
}

.ohmygarden {
  background-color: #00E676;
}

.canterburytheatreguild {
  background-color: #007597;
}

.ipt {
  background-color: #d14200;
}

.prioritab {
  background-color: #222222;
}

.steelmagnolias {
  background-color: #9C27B0;
}

.card-canterburytheatreguild {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #007597;
}

.card-ohmygarden {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #00E676;
}

.card-ipt {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #d14200;
}

.card-prioritab {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #222222;
}

.card-steelmagnolias {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), .5rem .5rem #9C27B0;
}

.backing {
  background-color: #FFF;
  border-radius: 1rem;
  padding: .5rem
}

.dropdown {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  margin: .5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, .54);
  z-index: 1;
}

.dropdown-content a {
  font-size: 1rem;
  padding: 1rem;
  display: block;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, .87);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.social .fa {
  padding: .5rem;
  font-size: 2rem;
  border-radius: 50%;
}

.social .fa-github {
  background: #3B5998;
  color: white;
}

.social .fa-envelope {
  background: #55ACEE;
  color: white;
}

@media (min-width: 576px) {
  main {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 720px;
  }
  .display1 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  main {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
