* {
  color: #FFF;
}

body {
  font-family: "PT Sans", system-ui, sans-serif;
  background-color: #000;
}

a:link {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-items {
  overflow-x: auto;
}

.nav-item {
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.nav-logo {
  padding: 0 1rem;
  height: 4rem;
}

.content {
  max-width: 48rem;
}

header {
  margin-left: auto;
  margin-right: auto;
}

main {
  animation: fadeIn .3s ease;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer {
  padding: 1rem;
  text-align: center;
}

.project {
  transition: all ease .2s
}

.project:hover {
  background-color: rgba(255, 255, 255, .13);
}

.active {
  text-decoration: underline;
}

.project-heading {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
}

.circle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 1rem;
}

.circle img {
  max-width: 100%;
}

.ohmygarden {
  background-color: #00E676;
}

.project-ohmygarden {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), 0 0 0 .5rem #00E676;
}

.ohmygarden-gradient {
  background: linear-gradient(-45deg, #004D40, #1B5E20, #33691E) no-repeat center center fixed;
  background-color: #000;
}

.canterburytheatreguild {
  background-color: #007597;
}

.project-canterburytheatreguild {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), 0 0 0 .5rem #007597;
}

.canterburytheatreguild-gradient {
  background: linear-gradient(-45deg, #0D47A1, #01579B, #006064) no-repeat center center fixed;
  background-color: #000;
}

.ipt {
  background-color: #d14200;
}

.project-ipt {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), 0 0 0 .5rem #d14200;
}

.prioritab {
  background-color: #222222;
}

.project-prioritab {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), 0 0 0 .5rem #222222;
}

.prioritab-gradient {
  background: linear-gradient(135deg, #616161, #424242, #212121) no-repeat center center fixed;
  background-color: #000;
}

.steelmagnolias {
  background-color: #9C27B0;
}

.project-steelmagnolias {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), 0 0 0 .5rem #9C27B0;
}

.steelmagnolias-gradient {
  background: linear-gradient(135deg, #880E4F, #4A148C) no-repeat center center fixed;
  background-color: #000;
}

.littlemermaid {
  background-color: #FFF68E;
}

.project-littlemermaid {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), 0 0 0 .5rem #FFF68E;
}

.littlemermaid-gradient {
  background: linear-gradient(135deg, #880E4F, #4A148C) no-repeat center center fixed;
  background-color: #000;
}

.avenueq {
  background-color: #F06E31;
}

.project-avenueq {
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.25), 0 0 0 .5rem #F06E31;
}

.avenueq-gradient {
  background: linear-gradient(135deg, #880E4F, #4A148C) no-repeat center center fixed;
  background-color: #000;
}

.backing {
  background-color: #FFF;
  border-radius: 1rem;
  padding: .5rem
}

.centre-cover {
  object-fit: cover;
  object-position: center;
}

@media (max-width: 991px) {
    .bd-navbar {
        padding-right:.5rem;
        padding-left: .5rem
    }

    .bd-navbar .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
        font-size: .875rem
    }

    .bd-navbar .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown {
  position: relative;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #FFF;
  text-align: left;
  list-style: none;
  background-color: #000;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.25rem;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #FFF;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #868e96;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #868e96;
  white-space: nowrap;
}
