---
layout: layouts/base.njk
title: ["9 to 5: The Musical"]
tagline: Marketing
theme: nine-to-five
logo:
  src: /assets/images/canterbury-theatre-guild/9-to-5/9-to-5-logo.svg
tags: canterbury-theatre-guild-project
date: 2019-07-22
---

<article class="container">
  <div class="content mx-auto">
    <h1>{{ title }}</h1>
    <p>9 to 5 The Musical, with music and lyrics by Dolly Parton and book by Patricia Resnick, is based on the seminal 1980 hit movie. Set in the late 1970s. this hilarious story of friendship and revenge in the Rolodex era is outrageous, thought-provoking and even a little romantic. Presented by Canterbury Theatre Guild.</p>
    <ul>
      <li>Designed by Griffen Edge in 2017 using Photoshop, Publisher &amp; Illustrator</li>
      <li>9 to 5: The Musical logo licensed exclusively by Music Theatre International (Australasia).</li>
    </ul>
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    {% image
      "/assets/images/canterbury-theatre-guild/9-to-5/9-to-5-flyer.jpg",
      "9 to 5: The Musical Flyer",
      "img-fluid"
    %}
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    {% image
      "/assets/images/canterbury-theatre-guild/9-to-5/9-to-5-promo.png",
      "9 to 5: The Musical Promo Image",
      "img-fluid"
    %}
  </div>
</article>