---
layout: layouts/base.njk
title: Avenue Q
tagline: Marketing and lighting
theme: avenue-q
logo:
  src: /assets/images/canterbury-theatre-guild/avenue-q/avenue-q-logo.svg
tags: canterbury-theatre-guild-project
date: 2016-05-29
---

<article class="container">
  <div class="content mx-auto">
    <h1>{{ title }}</h1>
    <p class="lead">Marketing and lighting</p>
    <p>
      The puppet-filled story of a recent college grad named Princeton, who
      moves into a shabby New York apartment all the way out on Avenue Q. He
      soon discovers that, although the residents seem nice, it's clear that
      this is not your ordinary neighborhood. Together, Princeton and his
      new-found friends struggle to find jobs, dates and their ever-elusive
      purpose in life. Presented by Canterbury Theatre Guild.
    </p>
    <p>
      Avenue Q licensed exclusively by Music Theatre International
      (Australasia).
    </p>
  </div>
  <div class="row">
    <div class="col-md-9 col-lg-6 p-3 mx-auto">
      <img
        src="/assets/images/canterbury-theatre-guild/avenue-q/avenue-q-furry-ctg-logo.png"
        alt="CTG Logo (Avenue Q Version)"
        class="img-fluid"
        loading="lazy"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg p-3">
      <img
        src="/assets/images/canterbury-theatre-guild/avenue-q/avenue-q-kate-trekkie.png"
        alt="Avenue Q Kate & Trekkie"
        class="img-fluid"
        loading="lazy"
      />
    </div>
    <div class="col-lg p-3">
      <img
        src="/assets/images/canterbury-theatre-guild/avenue-q/avenue-q-gary-coleman.png"
        alt="Avenue Q Gary Coleman"
        class="img-fluid"
        loading="lazy"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg p-3">
      <img
        src="/assets/images/canterbury-theatre-guild/avenue-q/avenue-q-rod-nicky.jpg"
        alt="Avenue Q Rod & Nicky"
        class="img-fluid"
        loading="lazy"
      />
    </div>
    <div class="col-lg p-3">
      <img
        src="/assets/images/canterbury-theatre-guild/avenue-q/avenue-q-neighbours.png"
        alt="Avenue Q Neighbours"
        class="img-fluid"
        loading="lazy"
      />
    </div>
  </div>
</article>
