---
layout: layouts/base.njk
title: The Little Mermaid
tagline: Marketing and lighting
theme: little-mermaid
logo:
  src: /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-logo.svg
tags: canterbury-theatre-guild-project
date: 2016-11-06
---

<article class="container">
  <div class="content mx-auto">
    <h1>{{ title }}</h1>
    <p>
      Based on one of Hans Christian Andersen's most beloved stories and the
      classic animated film, Disney's The Little Mermaid is a hauntingly
      beautiful love story for the ages. Music by eight-time Academy Award
      winner, Alan Menken, lyrics by Howard Ashman and Glenn Slater and a
      compelling book by Doug Wright. Presented by Canterbury Theatre Guild.
    </p>
    <ul>
      <li>
        Marketing material designed by Griffen Edge in 2016 using Publisher,
        Photoshop &amp; Illustrator
      </li>
      <li>Lighting designed by Griffen Edge</li>
      <li>
        The Little Mermaid licensed exclusively by Music Theatre International
        (Australasia).
      </li>
    </ul>
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    {%
      image
      "/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-ursula.jpg",
      "The Little Mermaid - Ursula",
      "img-fluid shadow"
    %}
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    {%
      image
      "/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-daughters-of-triton.jpg",
      "The Little Mermaid - Daughters of Triton",
      "img-fluid shadow"
    %}
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    {%
      image
      "/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-waltz.jpg",
      "The Little Mermaid - Waltz",
      "img-fluid shadow"
    %}
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    {%
      image
      "/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-flyer.png",
      "The Little Mermaid Flyer",
      "img-fluid shadow"
    %}
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    {%
      image
      "/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-cover.png",
      "The Little Mermaid Cover Image",
      "img-fluid shadow"
    %}
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    {%
      image
      "/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-prince-eric.jpg",
      "The Little Mermaid - Prince Eric",
      "img-fluid shadow"
    %}
  </div>
</article>
