---
layout: layouts/base.njk
title: The Little Mermaid
theme: little-mermaid
tags: canterbury-theatre-guild-project
---

<article class="container">
  <div class="content mx-auto">
    <h1>{{ title }}</h1>
    <p>Based on one of Hans Christian Andersen's most beloved stories and the classic animated film, Disney's The Little Mermaid is a hauntingly beautiful love story for the ages. Music by eight-time Academy Award winner, Alan Menken, lyrics by Howard Ashman and Glenn Slater and a compelling book by Doug Wright. Presented by Canterbury Theatre Guild.</p>
    <ul>
      <li>Marketing material designed by Griffen Edge in 2016 using Publisher, Photoshop &amp; Illustrator</li>
      <li>Lighting designed by Griffen Edge</li>
      <li>The Little Mermaid licensed exclusively by Music Theatre International (Australasia).</li>
    </ul>
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-ursula.jpg" srcset="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-ursula.jpg 2048w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-ursula-600w.jpg 600w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-ursula-900w.jpg 900w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-ursula-1200w.jpg 1200w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-ursula-1800w.jpg 1800w" alt="The Little Mermaid Photo - Ursula">
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-daughters-of-triton.jpg" srcset="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-daughters-of-triton.jpg 2048w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-daughters-of-triton-600w.jpg 600w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-daughters-of-triton-900w.jpg 900w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-daughters-of-triton-1200w.jpg 1200w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-daughters-of-triton-1800w.jpg 1800w" alt="The Little Mermaid Photo - Daughters of Triton">
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-waltz.jpg" srcset="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-waltz.jpg 3008w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-waltz-600w.jpg 600w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-waltz-900w.jpg 900w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-waltz-1200w.jpg 1200w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-waltz-1800w.jpg 1800w" alt="The Little Mermaid Photo - Waltz">
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-flyer.png" srcset="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-flyer.png 1024w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-flyer-600w.png 600w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-flyer-900w.png 900w" alt="The Little Mermaid Flyer">
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-cover.png" srcset="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-cover.png 1024w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-cover-600w.png 600w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-cover-900w.png 900w" alt="The Little Mermaid Cover Image">
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-prince-eric.jpg" srcset="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-prince-eric.jpg 1367 w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-prince-eric-600w.jpg 600 w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-prince-eric-900w.jpg 900 w, /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-prince-eric-1200w.jpg 1200 w" alt="The Little Mermaid Photo - Prince Eric">
  </div>
</article>