---
layout: layouts/base.njk
title: Steel Magnolias
tagline: Marketing
theme: steel-magnolias
logo:
  src: /assets/images/canterbury-theatre-guild/steel-magnolias/steel-magnolias-logo.png
tags: canterbury-theatre-guild-project
date: 2016-02-28
---

<article class="container">
  <div class="content mx-auto">
    <h1>{{ title }}</h1>
    <p>Steel Magnolias tells the bittersweet tale of six women in a small Louisiana town whose lives intersect at the local beauty parlour. The story deals with the changes - some of them painful and poignant, some of them hilarious - that the women experience over the course of several years. Based on Robert Harling's award-winning play. Presented by Canterbury Theatre Guild.</p>
  </div>
  <div class="row">
    <div class="p-3">
      <img class="img-fluid" src="/assets/images/canterbury-theatre-guild/steel-magnolias/steel-magnolias-cover-image.png" alt="Steel Magnolias cover image">
    </div>
    <div class="col-md p-3">
      <img class="img-fluid" src="/assets/images/canterbury-theatre-guild/steel-magnolias/steel-magnolias-ctg-logo.png" alt="Steel Magnolias version of the Canterbury Theatre Guild logo ()">
    </div>
    <div class="col-md p-3">
      <img class="img-fluid" src="/assets/images/canterbury-theatre-guild/steel-magnolias/steel-magnolias-flyer.png" alt="Steel Magnolias flyer">
    </div>
  </div>
</article>