---
layout: project.njk
title: The Little Mermaid
tagline: Marketing and lighting
theme: little-mermaid
logo:
  src: /assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-logo.svg
tags: canterbury-theatre-guild-project
date: 2016-11-06
---

<p>
  Based on one of Hans Christian Andersen's most beloved stories and the classic
  animated film, Disney's The Little Mermaid is a hauntingly beautiful love
  story for the ages. Music by eight-time Academy Award winner, Alan Menken,
  lyrics by Howard Ashman and Glenn Slater and a compelling book by Doug Wright.
  Presented by Canterbury Theatre Guild.
</p>
<ul>
  <li>
    Marketing material designed by Griffen Edge in 2016 using Publisher,
    Photoshop &amp; Illustrator
  </li>
  <li>Lighting designed by Griffen Edge</li>
  <li>
    The Little Mermaid licensed exclusively by Music Theatre International
    (Australasia).
  </li>
</ul>

<img
  class="screenshot"
  src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-ursula.jpg"
  alt="The Little Mermaid - Ursula"
/>

<img
  class="screenshot"
  src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-daughters-of-triton.jpg"
  alt="The Little Mermaid - Daughters of Triton"
/>

<img
  class="screenshot"
  src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-waltz.jpg"
  alt="The Little Mermaid - Waltz"
/>

<img
  class="screenshot"
  src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-prince-eric.jpg"
  alt="The Little Mermaid - Prince Eric"
/>

<img
  class="screenshot"
  src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-flyer.png"
  alt="The Little Mermaid Flyer"
/>

<img
  class="screenshot"
  src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-cover.png"
  alt="The Little Mermaid Cover Image"
/>
