<footer class="footer">
  <div class="container text-center">
    <p>&copy; Griffen Edge {% currentyear %}</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="mailto:griffen@griffenedge.com" rel="me">griffen@griffenedge.com</a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/griffenedge" rel="me">GitHub</a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/griffenedge/" rel="me">LinkedIn</a>
      </li>
      <li class="list-inline-item">
        <a href="/assets/griffen-edge-resume.pdf">Résumé (PDF)</a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/griffenedge" rel="me">Twitter</a>
      </li>
    </ul>
  </div>
</footer>