<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {%- if title %}
      {{ title }}
      {%- if tagline %}
        : {{ tagline }}
      {%- endif %}
      |
    {% endif %}{{ metadata.title }}
    - {{ metadata.tagline -}}
  </title>
  <link rel="stylesheet" href="/assets/style/vendor/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/style/custom.css" />
  <meta
    name="description"
    content="{{ description or metadata.description }}"
  />
  <meta
    property="og:title"
    content="{%- if title %}
      {{ title }}{%- if tagline %}: {{ tagline }}{%- endif %}
    {% else %}
      {{ metadata.title }}
      - {{ metadata.tagline -}}
    {%- endif %}"
  />
  <meta
    property="og:description"
    content="{{ description or metadata.description }}"
  />
  <meta
    property="og:image"
    content="{{ metadata.url }}{{ social.img.src or metadata.social.img.src }}"
  />
  <meta property="og:url" content="{{ metadata.url }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ metadata.title }}" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@griffenedge" />
  <meta name="theme-color" content="#ff4f00" />
  <link rel="icon" href="/favicon.ico" />
  <link
    rel="icon"
    href="/assets/images/icons/favicon.svg"
    type="image/svg+xml"
  />
  <link
    rel="apple-touch-icon"
    href="/assets/images/icons/apple-touch-icon.png"
  />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="generator" content="{{ eleventy.generator }}" />
</head>
