<header class="navbar navbar-expand navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">Griffen Edge</a>
    <nav>
      <ul class="navbar-nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item">
            <a class="nav-link{% if entry.url == page.url %} active{% endif %}"{% if entry.url == page.url %} aria-current="page"{% endif %} href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
</header>