<header>
  <div class="container">
    <nav>
      <a class="nav-brand" href="/">Griffen Edge</a>
      <ul>
        <li>
          <a href="/#featured-work">Featured work</a>
        </li>
        <li>
          <a href="/#about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
