[data-theme="light"],
:root:not([data-theme="dark"]),
:host(:not([data-theme="dark"])) {
  color-scheme: light;

  --pico-background-color: hsl(19deg 100% 96%);
  --pico-color: oklch(35.31% 0.016 37.42deg);
  --pico-text-selection-color: oklch(66.81% 0.1961 37.42deg / 25%);
  --pico-muted-color: oklch(52.32% 0.0247 37.42deg);
  --pico-muted-border-color: oklch(26.4% 0.1023 35.7deg / 10%);
  --pico-primary: oklch(54.04% 0.1745 37.42deg);
  --pico-primary-background: oklch(58.53% 0.1876 37.42deg);
  --pico-primary-border: var(--pico-primary-background);
  --pico-primary-underline: oklch(54.04% 0.1745 37.42deg / 50%);
  --pico-primary-hover: oklch(45.43% 0.1459 37.42deg);
  --pico-primary-hover-background: oklch(54.04% 0.1745 37.42deg);
  --pico-primary-hover-border: var(--pico-primary-hover-background);
  --pico-primary-hover-underline: var(--pico-primary-hover);
  --pico-primary-focus: oklch(66.81% 0.1961 37.42deg / 50%);
  --pico-primary-inverse: oklch(100% 0 none);
  --pico-secondary: oklch(52.71% 0.0501 37.42deg);
  --pico-secondary-background: oklch(48.4% 0.0479 37.42deg);
  --pico-secondary-border: var(--pico-secondary-background);
  --pico-secondary-underline: oklch(52.71% 0.0501 37.42deg / 50%);
  --pico-secondary-hover: oklch(44.13% 0.0429 37.42deg);
  --pico-secondary-hover-background: oklch(44.13% 0.0429 37.42deg);
  --pico-secondary-hover-border: var(--pico-secondary-hover-background);
  --pico-secondary-hover-underline: var(--pico-secondary-hover);
  --pico-secondary-focus: oklch(52.71% 0.0501 37.42deg / 25%);
  --pico-secondary-inverse: oklch(100% 0 none);
  --pico-contrast: oklch(22.68% 0.0185 37.42deg);
  --pico-contrast-background: oklch(22.68% 0.0185 37.42deg);
  --pico-contrast-border: var(--pico-contrast-background);
  --pico-contrast-underline: oklch(22.68% 0.0185 37.42deg / 50%);
  --pico-contrast-hover: oklch(0% 0 none);
  --pico-contrast-hover-background: oklch(0% 0 none);
  --pico-contrast-hover-border: var(--pico-contrast-hover-background);
  --pico-contrast-hover-underline: var(--pico-secondary-hover);
  --pico-contrast-focus: oklch(52.71% 0.0501 37.42deg / 25%);
  --pico-contrast-inverse: oklch(100% 0 none);
  --pico-box-shadow:
    0.0145rem 0.029rem 0.174rem oklch(65.81% 0.057 37.42deg / 1.7%),
    0.0335rem 0.067rem 0.402rem oklch(65.81% 0.057 37.42deg / 2.4%),
    0.0625rem 0.125rem 0.75rem oklch(65.81% 0.057 37.42deg / 3%),
    0.1125rem 0.225rem 1.35rem oklch(65.81% 0.057 37.42deg / 3.6%),
    0.2085rem 0.417rem 2.502rem oklch(65.81% 0.057 37.42deg / 4.3%),
    0.5rem 1rem 6rem oklch(65.81% 0.057 37.42deg / 6%),
    0 0 0 0.0625rem oklch(65.81% 0.057 37.42deg / 1.5%);
  --pico-h1-color: oklch(31.4% 0.014 37.42deg);
  --pico-h2-color: oklch(35.31% 0.016 37.42deg);
  --pico-h3-color: oklch(39.9% 0.0178 37.42deg);
  --pico-h4-color: oklch(44.5% 0.0201 37.42deg);
  --pico-h5-color: oklch(49.81% 0.0229 37.42deg);
  --pico-h6-color: oklch(52.32% 0.0247 37.42deg);
  --pico-mark-background-color: oklch(93.45% 0.0562 37.42deg);
  --pico-mark-color: oklch(17.84% 0.007 37.42deg);
  --pico-ins-color: oklch(47.03% 0.0817 170.2deg);
  --pico-del-color: oklch(45.03% 0.1099 25deg);
  --pico-blockquote-border-color: var(--pico-muted-border-color);
  --pico-blockquote-footer-color: var(--pico-muted-color);
  --pico-button-box-shadow: 0 0 0 oklch(0% 0 none / 0%);
  --pico-button-hover-box-shadow: 0 0 0 oklch(0% 0 none / 0%);
  --pico-table-border-color: var(--pico-muted-border-color);
  --pico-table-row-stripped-background-color: oklch(
    56.76% 0.0263 37.42deg / 3.75%
  );
  --pico-code-background-color: oklch(96.81% 0.0034 37.42deg);
  --pico-code-color: oklch(52.32% 0.0247 37.42deg);
  --pico-code-kbd-background-color: var(--pico-color);
  --pico-code-kbd-color: var(--pico-background-color);
  --pico-form-element-background-color: oklch(98.94% 0.0011 37.42deg);
  --pico-form-element-selected-background-color: oklch(91.68% 0.0114 37.42deg);
  --pico-form-element-border-color: oklch(87.3% 0.0192 37.42deg);
  --pico-form-element-color: oklch(26.33% 0.0113 37.42deg);
  --pico-form-element-placeholder-color: var(--pico-muted-color);
  --pico-form-element-active-background-color: oklch(100% 0 none);
  --pico-form-element-active-border-color: var(--pico-primary-border);
  --pico-form-element-focus-color: var(--pico-primary-border);
  --pico-form-element-disabled-opacity: 0.5;
  --pico-form-element-invalid-border-color: oklch(61% 0.1 19.58deg);
  --pico-form-element-invalid-active-border-color: oklch(58.72% 0.156 26.3deg);
  --pico-form-element-invalid-focus-color: var(
    --pico-form-element-invalid-active-border-color
  );
  --pico-form-element-valid-border-color: oklch(63.3% 0.0822 177.5deg);
  --pico-form-element-valid-active-border-color: oklch(61.14% 0.1121 168.1deg);
  --pico-form-element-valid-focus-color: var(
    --pico-form-element-valid-active-border-color
  );
  --pico-switch-background-color: oklch(82.9% 0.0263 37.42deg);
  --pico-switch-checked-background-color: var(--pico-primary-background);
  --pico-switch-color: oklch(100% 0 none);
  --pico-switch-thumb-box-shadow: 0 0 0 oklch(0% 0 none / 0%);
  --pico-range-border-color: oklch(91.68% 0.0114 37.42deg);
  --pico-range-active-border-color: oklch(82.9% 0.0263 37.42deg);
  --pico-range-thumb-border-color: var(--pico-background-color);
  --pico-range-thumb-color: var(--pico-secondary-background);
  --pico-range-thumb-active-color: var(--pico-primary-background);
  --pico-accordion-border-color: var(--pico-muted-border-color);
  --pico-accordion-active-summary-color: var(--pico-primary-hover);
  --pico-accordion-close-summary-color: var(--pico-color);
  --pico-accordion-open-summary-color: var(--pico-muted-color);
  --pico-card-background-color: var(--pico-background-color);
  --pico-card-border-color: var(--pico-muted-border-color);
  --pico-card-box-shadow: var(--pico-box-shadow);
  --pico-card-sectioning-background-color: oklch(98.94% 0.0011 37.42deg);
  --pico-dropdown-background-color: oklch(100% 0 none);
  --pico-dropdown-border-color: oklch(95.98% 0.0044 37.42deg);
  --pico-dropdown-box-shadow: var(--pico-box-shadow);
  --pico-dropdown-color: var(--pico-color);
  --pico-dropdown-hover-background-color: oklch(95.98% 0.0044 37.42deg);
  --pico-loading-spinner-opacity: 0.5;
  --pico-modal-overlay-background-color: oklch(93.67% 0.0045 37.42deg / 75%);
  --pico-progress-background-color: oklch(91.68% 0.0114 37.42deg);
  --pico-progress-color: var(--pico-primary-background);
  --pico-tooltip-background-color: var(--pico-contrast-background);
  --pico-tooltip-color: var(--pico-contrast-inverse);
  --pico-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='oklch(63.3% 0.0822 177.5)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --pico-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='oklch(58.72% 0.156 26.3)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host(:not([data-theme])) {
    color-scheme: dark;

    --pico-background-color: oklch(20.26% 0.017 37.42deg);
    --pico-color: oklch(82.97% 0.0137 37.42deg);
    --pico-text-selection-color: oklch(69.03% 0.18 37.42deg / 18.8%);
    --pico-muted-color: oklch(60.89% 0.0282 37.42deg);
    --pico-muted-border-color: oklch(26.74% 0.0241 37.42deg);
    --pico-primary: oklch(69.03% 0.18 37.42deg);
    --pico-primary-background: oklch(58.53% 0.1876 37.42deg);
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: oklch(69.03% 0.18 37.42deg / 50%);
    --pico-primary-hover: oklch(78.86% 0.1124 37.42deg);
    --pico-primary-hover-background: oklch(62.36% 0.2025 37.42deg);
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: oklch(69.03% 0.18 37.42deg / 37.5%);
    --pico-primary-inverse: oklch(100% 0 none);
    --pico-secondary: oklch(70% 0.0273 37.42deg);
    --pico-secondary-background: oklch(48.4% 0.0479 37.42deg);
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: oklch(70% 0.0273 37.42deg / 50%);
    --pico-secondary-hover: oklch(78.74% 0.0175 37.42deg);
    --pico-secondary-hover-background: oklch(52.71% 0.0501 37.42deg);
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: oklch(69.46% 0.0504 37.42deg / 25%);
    --pico-secondary-inverse: oklch(100% 0 none);
    --pico-contrast: oklch(91.68% 0.0114 37.42deg);
    --pico-contrast-background: oklch(95.98% 0.0044 37.42deg);
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: oklch(91.68% 0.0114 37.42deg / 50%);
    --pico-contrast-hover: oklch(100% 0 none);
    --pico-contrast-hover-background: oklch(100% 0 none);
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-contrast-hover);
    --pico-contrast-focus: oklch(87.3% 0.0192 37.42deg / 25%);
    --pico-contrast-inverse: oklch(0% 0 none);
    --pico-box-shadow:
      0.0145rem 0.029rem 0.174rem oklch(13.69% 0.0084 37.42deg / 1.7%),
      0.0335rem 0.067rem 0.402rem oklch(13.69% 0.0084 37.42deg / 2.4%),
      0.0625rem 0.125rem 0.75rem oklch(13.69% 0.0084 37.42deg / 3%),
      0.1125rem 0.225rem 1.35rem oklch(13.69% 0.0084 37.42deg / 3.6%),
      0.2085rem 0.417rem 2.502rem oklch(13.69% 0.0084 37.42deg / 4.3%),
      0.5rem 1rem 6rem oklch(13.69% 0.0084 37.42deg / 6%),
      0 0 0 0.0625rem oklch(13.69% 0.0084 37.42deg / 1.5%);
    --pico-h1-color: oklch(96.03% 0.0027 37.42deg);
    --pico-h2-color: oklch(91.3% 0.0066 37.42deg);
    --pico-h3-color: oklch(82.97% 0.0137 37.42deg);
    --pico-h4-color: oklch(78.74% 0.0175 37.42deg);
    --pico-h5-color: oklch(74.56% 0.0221 37.42deg);
    --pico-h6-color: oklch(65.74% 0.0294 37.42deg);
    --pico-mark-background-color: oklch(36.22% 0.0835 37.42deg);
    --pico-mark-color: oklch(100% 0 none);
    --pico-ins-color: oklch(70.01% 0.0813 174.7deg);
    --pico-del-color: oklch(67.66% 0.0995 22.35deg);
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 oklch(0% 0 none / 0%);
    --pico-button-hover-box-shadow: 0 0 0 oklch(0% 0 none / 0%);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: oklch(
      56.76% 0.0263 37.42deg / 3.75%
    );
    --pico-code-background-color: oklch(23.71% 0.02 37.42deg);
    --pico-code-color: oklch(65.74% 0.0294 37.42deg);
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: oklch(24.76% 0.0214 37.42deg);
    --pico-form-element-selected-background-color: oklch(
      31.49% 0.0294 37.42deg
    );
    --pico-form-element-border-color: oklch(31.49% 0.0294 37.42deg);
    --pico-form-element-color: oklch(91.3% 0.0066 37.42deg);
    --pico-form-element-placeholder-color: oklch(65.74% 0.0294 37.42deg);
    --pico-form-element-active-background-color: oklch(23.71% 0.02 37.42deg);
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: oklch(50.45% 0.1014 16.42deg);
    --pico-form-element-invalid-active-border-color: oklch(
      53.8% 0.1559 25.93deg
    );
    --pico-form-element-invalid-focus-color: var(
      --pico-form-element-invalid-active-border-color
    );
    --pico-form-element-valid-border-color: oklch(52.63% 0.0791 181.4deg);
    --pico-form-element-valid-active-border-color: oklch(
      56.24% 0.1078 168.5deg
    );
    --pico-form-element-valid-focus-color: var(
      --pico-form-element-valid-active-border-color
    );
    --pico-switch-background-color: oklch(35.29% 0.0335 37.42deg);
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: oklch(100% 0 none);
    --pico-switch-thumb-box-shadow: 0 0 0 oklch(0% 0 none / 0%);
    --pico-range-border-color: oklch(26.74% 0.0241 37.42deg);
    --pico-range-active-border-color: oklch(31.49% 0.0294 37.42deg);
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: oklch(22.68% 0.0185 37.42deg);
    --pico-card-border-color: var(--pico-card-background-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: oklch(23.71% 0.02 37.42deg);
    --pico-dropdown-background-color: oklch(22.68% 0.0185 37.42deg);
    --pico-dropdown-border-color: oklch(26.74% 0.0241 37.42deg);
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: oklch(26.74% 0.0241 37.42deg);
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: oklch(13.65% 0.004 37.42deg / 75%);
    --pico-progress-background-color: oklch(26.74% 0.0241 37.42deg);
    --pico-progress-color: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);
    --pico-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='oklch(52.63% 0.0791 181.4)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --pico-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='oklch(50.45% 0.1014 16.42)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
  }
}

[data-theme="dark"] {
  color-scheme: dark;

  --pico-background-color: oklch(20.26% 0.017 37.42deg);
  --pico-color: oklch(82.97% 0.0137 37.42deg);
  --pico-text-selection-color: oklch(69.03% 0.18 37.42deg / 18.8%);
  --pico-muted-color: oklch(60.89% 0.0282 37.42deg);
  --pico-muted-border-color: oklch(26.74% 0.0241 37.42deg);
  --pico-primary: oklch(69.03% 0.18 37.42deg);
  --pico-primary-background: oklch(58.53% 0.1876 37.42deg);
  --pico-primary-border: var(--pico-primary-background);
  --pico-primary-underline: oklch(69.03% 0.18 37.42deg / 50%);
  --pico-primary-hover: oklch(78.86% 0.1124 37.42deg);
  --pico-primary-hover-background: oklch(62.36% 0.2025 37.42deg);
  --pico-primary-hover-border: var(--pico-primary-hover-background);
  --pico-primary-hover-underline: var(--pico-primary-hover);
  --pico-primary-focus: oklch(69.03% 0.18 37.42deg / 37.5%);
  --pico-primary-inverse: oklch(100% 0 none);
  --pico-secondary: oklch(70% 0.0273 37.42deg);
  --pico-secondary-background: oklch(48.4% 0.0479 37.42deg);
  --pico-secondary-border: var(--pico-secondary-background);
  --pico-secondary-underline: oklch(70% 0.0273 37.42deg / 50%);
  --pico-secondary-hover: oklch(78.74% 0.0175 37.42deg);
  --pico-secondary-hover-background: oklch(52.71% 0.0501 37.42deg);
  --pico-secondary-hover-border: var(--pico-secondary-hover-background);
  --pico-secondary-hover-underline: var(--pico-secondary-hover);
  --pico-secondary-focus: oklch(69.46% 0.0504 37.42deg / 25%);
  --pico-secondary-inverse: oklch(100% 0 none);
  --pico-contrast: oklch(91.68% 0.0114 37.42deg);
  --pico-contrast-background: oklch(95.98% 0.0044 37.42deg);
  --pico-contrast-border: var(--pico-contrast-background);
  --pico-contrast-underline: oklch(91.68% 0.0114 37.42deg / 50%);
  --pico-contrast-hover: oklch(100% 0 none);
  --pico-contrast-hover-background: oklch(100% 0 none);
  --pico-contrast-hover-border: var(--pico-contrast-hover-background);
  --pico-contrast-hover-underline: var(--pico-contrast-hover);
  --pico-contrast-focus: oklch(87.3% 0.0192 37.42deg / 25%);
  --pico-contrast-inverse: oklch(0% 0 none);
  --pico-box-shadow:
    0.0145rem 0.029rem 0.174rem oklch(13.69% 0.0084 37.42deg / 1.7%),
    0.0335rem 0.067rem 0.402rem oklch(13.69% 0.0084 37.42deg / 2.4%),
    0.0625rem 0.125rem 0.75rem oklch(13.69% 0.0084 37.42deg / 3%),
    0.1125rem 0.225rem 1.35rem oklch(13.69% 0.0084 37.42deg / 3.6%),
    0.2085rem 0.417rem 2.502rem oklch(13.69% 0.0084 37.42deg / 4.3%),
    0.5rem 1rem 6rem oklch(13.69% 0.0084 37.42deg / 6%),
    0 0 0 0.0625rem oklch(13.69% 0.0084 37.42deg / 1.5%);
  --pico-h1-color: oklch(96.03% 0.0027 37.42deg);
  --pico-h2-color: oklch(91.3% 0.0066 37.42deg);
  --pico-h3-color: oklch(82.97% 0.0137 37.42deg);
  --pico-h4-color: oklch(78.74% 0.0175 37.42deg);
  --pico-h5-color: oklch(74.56% 0.0221 37.42deg);
  --pico-h6-color: oklch(65.74% 0.0294 37.42deg);
  --pico-mark-background-color: oklch(36.22% 0.0835 37.42deg);
  --pico-mark-color: oklch(100% 0 none);
  --pico-ins-color: oklch(70.01% 0.0813 174.7deg);
  --pico-del-color: oklch(67.66% 0.0995 22.35deg);
  --pico-blockquote-border-color: var(--pico-muted-border-color);
  --pico-blockquote-footer-color: var(--pico-muted-color);
  --pico-button-box-shadow: 0 0 0 oklch(0% 0 none / 0%);
  --pico-button-hover-box-shadow: 0 0 0 oklch(0% 0 none / 0%);
  --pico-table-border-color: var(--pico-muted-border-color);
  --pico-table-row-stripped-background-color: oklch(
    56.76% 0.0263 37.42deg / 3.75%
  );
  --pico-code-background-color: oklch(23.71% 0.02 37.42deg);
  --pico-code-color: oklch(65.74% 0.0294 37.42deg);
  --pico-code-kbd-background-color: var(--pico-color);
  --pico-code-kbd-color: var(--pico-background-color);
  --pico-form-element-background-color: oklch(24.76% 0.0214 37.42deg);
  --pico-form-element-selected-background-color: oklch(31.49% 0.0294 37.42deg);
  --pico-form-element-border-color: oklch(31.49% 0.0294 37.42deg);
  --pico-form-element-color: oklch(91.3% 0.0066 37.42deg);
  --pico-form-element-placeholder-color: oklch(65.74% 0.0294 37.42deg);
  --pico-form-element-active-background-color: oklch(23.71% 0.02 37.42deg);
  --pico-form-element-active-border-color: var(--pico-primary-border);
  --pico-form-element-focus-color: var(--pico-primary-border);
  --pico-form-element-disabled-opacity: 0.5;
  --pico-form-element-invalid-border-color: oklch(50.45% 0.1014 16.42deg);
  --pico-form-element-invalid-active-border-color: oklch(53.8% 0.1559 25.93deg);
  --pico-form-element-invalid-focus-color: var(
    --pico-form-element-invalid-active-border-color
  );
  --pico-form-element-valid-border-color: oklch(52.63% 0.0791 181.4deg);
  --pico-form-element-valid-active-border-color: oklch(56.24% 0.1078 168.5deg);
  --pico-form-element-valid-focus-color: var(
    --pico-form-element-valid-active-border-color
  );
  --pico-switch-background-color: oklch(35.29% 0.0335 37.42deg);
  --pico-switch-checked-background-color: var(--pico-primary-background);
  --pico-switch-color: oklch(100% 0 none);
  --pico-switch-thumb-box-shadow: 0 0 0 oklch(0% 0 none / 0%);
  --pico-range-border-color: oklch(26.74% 0.0241 37.42deg);
  --pico-range-active-border-color: oklch(31.49% 0.0294 37.42deg);
  --pico-range-thumb-border-color: var(--pico-background-color);
  --pico-range-thumb-color: var(--pico-secondary-background);
  --pico-range-thumb-active-color: var(--pico-primary-background);
  --pico-accordion-border-color: var(--pico-muted-border-color);
  --pico-accordion-active-summary-color: var(--pico-primary-hover);
  --pico-accordion-close-summary-color: var(--pico-color);
  --pico-accordion-open-summary-color: var(--pico-muted-color);
  --pico-card-background-color: oklch(22.68% 0.0185 37.42deg);
  --pico-card-border-color: var(--pico-card-background-color);
  --pico-card-box-shadow: var(--pico-box-shadow);
  --pico-card-sectioning-background-color: oklch(23.71% 0.02 37.42deg);
  --pico-dropdown-background-color: oklch(22.68% 0.0185 37.42deg);
  --pico-dropdown-border-color: oklch(26.74% 0.0241 37.42deg);
  --pico-dropdown-box-shadow: var(--pico-box-shadow);
  --pico-dropdown-color: var(--pico-color);
  --pico-dropdown-hover-background-color: oklch(26.74% 0.0241 37.42deg);
  --pico-loading-spinner-opacity: 0.5;
  --pico-modal-overlay-background-color: oklch(13.65% 0.004 37.42deg / 75%);
  --pico-progress-background-color: oklch(26.74% 0.0241 37.42deg);
  --pico-progress-color: var(--pico-primary-background);
  --pico-tooltip-background-color: var(--pico-contrast-background);
  --pico-tooltip-color: var(--pico-contrast-inverse);
  --pico-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='oklch(52.63% 0.0791 181.4)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --pico-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='oklch(50.45% 0.1014 16.42)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
}
