---
layout: base.njk
title: Guitar DIY
tagline: Educational website prototype
theme: guitar-diy
eleventyComputed:
  logo:
    src: "{{ page.filePathStem }}-cover.svg"
tags: other-work
date: 2018-11-08
skills:
  - web design
  - web development
---

<h1>{{ title }}</h1>
<p>
  A university project to teach people the basics of guitar maintenance and
  improvements.
</p>
<p>Check out the <a href="https://guitardiy.github.io">Guitar DIY site</a>!</p>
<img
  class="screenshot"
  src="/assets/images/guitar-diy/guitar-diy-screenshot-home.png"
  alt="Guitar DIY Homepage"
/>
<img
  class="screenshot"
  src="/assets/images/guitar-diy/guitar-diy-screenshot-replacing-tuners.png"
  alt="Guitar DIY Replacing Tuners Tutorial"
/>
