---
layout: layouts/base.njk
title: About Me
eleventyNavigation:
  key: About
  order: 2
---

<article class="container">
  <h1 class="mt-5">{{ title }}</h1>
  <div class="row">
    <div class="col-md order-md-1">
      {%
        image
        "/assets/images/griffen-edge-2024.jpg",
        "Photo of Griffen Edge's spectacled face",
        "img-fluid rounded-circle mb-3 px-5",
        "eager"
      %}
    </div>
    <div class="col-md-8 content">
      <p class="lead">
        <strong>Griffen Edge</strong> is a Sydney-based
        <strong>User Experience Designer</strong> looking to collaborate with
        innovative teams to create exceptional user experiences that empower
        everyday people.
      </p>
      <p>
        Most recently he worked at
        <a class="h-card" href="https://www.avanade.com/"
          ><img
            alt=""
            loading="lazy"
            decoding="async"
            src="https://v1.indieweb-avatar.11ty.dev/https%3A%2F%2Fwww.avanade.com%2F/"
            width="16"
            height="16"
          />
          Avanade</a
        >
        as an <strong>Experience Design Consultant</strong> to clients across
        Government, Aged Care, Health, Insurance, and Resources. Prior to that
        he was the <strong>Digital Officer</strong> at
        <a class="h-card" href="https://www.sydneycommunitycollege.edu.au/"
          ><img
            alt=""
            loading="lazy"
            decoding="async"
            src="https://v1.indieweb-avatar.11ty.dev/https%3A%2F%2Fwww.sydneycommunitycollege.edu.au%2F/"
            width="16"
            height="16"
          />
          Sydney Community College</a
        >
        where he spearheaded a major website redesign and developed a customer
        membership program.
      </p>
      <p>
        He studied a <strong>Bachelor of Design Computing</strong> at the
        <a class="h-card" href="https://www.sydney.edu.au/"
          ><img
            alt=""
            loading="lazy"
            decoding="async"
            src="https://v1.indieweb-avatar.11ty.dev/https%3A%2F%2Fwww.sydney.edu.au%2F/"
            width="16"
            height="16"
          />
          University of Sydney</a
        >. While there, he helped foster an inclusive community of UX design
        students and alumni as the President of
        <a class="h-card" href="https://www.suede.org.au/"
          ><img
            alt=""
            loading="lazy"
            decoding="async"
            src="https://v1.indieweb-avatar.11ty.dev/https%3A%2F%2Fwww.suede.org.au%2F/"
            width="16"
            height="16"
          />
          Sydney University Experience Designers (SUEDE)</a
        >.
      </p>
      <p>
        He has been on the committee at
        <a class="h-card" href="https://www.innerwesttheatre.com.au/"
          ><img
            alt=""
            loading="lazy"
            decoding="async"
            src="https://v1.indieweb-avatar.11ty.dev/https%3A%2F%2Fwww.innerwesttheatre.com.au%2F/"
            width="16"
            height="16"
          />
          Inner West Theatre Company</a
        >
        (formerly Canterbury Theatre Guild) for almost a decade, helping to
        promote the performing arts to the community, as well as providing a
        pair of hands backstage from time to time.
      </p>
      <p>
        He contributes to open-source
        <a href="https://github.com/griffenedge">GitHub</a> repositories, such
        as <a href="/prioritab/">Prioritab</a> which he redesigned and is now
        used by over 18,000 users.
      </p>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-12 col-xl-6">
          <h2>Interests</h2>
          <ul>
            <li>Design 🖊️</li>
            <li>Guitar 🎸</li>
            <li>Musical theatre 🎭</li>
            <li>Dogs 🐕</li>
            <li>Cycling 🚲</li>
            <li>Urban planning 🏙</li>
            <li>Scuba diving 🤿</li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-xl-6">
          <h2>Connect</h2>
          <ul>
            <li>
              <a href="mailto:griffen@griffenedge.com" rel="me"
                >griffen@griffenedge.com</a
              >
            </li>
            <li>
              <a href="https://github.com/griffenedge" rel="me">GitHub</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/griffenedge/" rel="me"
                >LinkedIn</a
              >
            </li>
            <li>
              <a href="/assets/griffen-edge-resume.pdf">Résumé (PDF)</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
