---
layout: layouts/base.njk
title: AstronoMe
description: AstronoMe is a mobile-based solution targeting the pre-trip mental health of future space tourists that takes users through the 5 whys guided discovery process.
theme: astronome
tags: other-work
---

<article>
  <section class="masthead text-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-xl-8 mx-auto">
          <h1>AstronoMe</h1>
          <p></p>
          <div class="row">
            <div class="col-md-6">
              <h2 class="h6">Type</h2>
              <p>Interaction design project for <a href="https://www.sydney.edu.au/units/DECO2200">DECO2200: Interaction Design Studio</a> at the University of Sydney</p>
            </div>
            <div class="col">
              <h2 class="h6">Duration</h2>
              <p>August to November 2020</p>
            </div>
          </div>
          <h2 class="h6">Role</h2>
          <p>I was a designer on a team of three (myself, <a href="https://www.margauxthw.com/" rel="friend met">Margaux Thwaites</a>, and <a href="https://monicayunagee.com/" rel="friend met">Monica Gee</a>). My responsibilities included research, ideation, user testing, and UI design.</p>
          <h2>Summary</h2>
          <p>AstronoMe is a mobile-based solution targeting the pre-trip mental health of space tourists set in the future. The concept’s focus on mental health narrows in on fear and anxieties, taking users through the <a href="https://en.wikipedia.org/wiki/Five_whys">5 whys</a> guided discovery process. The concept integrates a mixed reality experience to create a sense of immersion and effectively visualise links amongst a user’s insights. AstronoMe was conceived as a mobile app to provide privacy, accessibility and a quick experience that users can keep coming back to. 
              </p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="my-5">
      <div class="ratio ratio-16x9 shadow">
        <iframe title="AstronoMe Video Walkthrough - YouTube (video)" src="https://www.youtube-nocookie.com/embed/NgcWeumd6L0?rel=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</article>