---
layout: layouts/base.njk
title: AstronoMe
tagline: Mental health app concept
shortdesc: Preparing space tourists' mental health for take-off.
description: AstronoMe is a mobile-based solution targeting the pre-trip mental health of future space tourists that takes users through the 5 whys guided discovery process.
theme: astronome
logo:
  src: /assets/images/astronome/the-astronomer.svg
  alt: The Astronomer from AstronoMe
tags: case-study
date: 2020-11-18
---

<article>
  <section class="masthead text-light">
    <div class="container">
      <div class="content">
        <h1>{{ title }}</h1>
        <p>{{ shortdesc }}</p>
        <div class="row">
          <div class="col-md-6">
            <h2 class="h6">Project type</h2>
            <p>
              Mental health app concept for <a href="https://www.sydney.edu.au/units/DECO2200">DECO2200: Interaction Design Studio</a> at the University of Sydney
            </p>
          </div>
          <div class="col">
            <h2 class="h6">Duration</h2>
            <p>August to November 2020</p>
          </div>
        </div>
        <h2 class="h6">Role</h2>
        <p>
          <strong>Interaction designer</strong> on a team of three (myself, <a href="https://www.margauxthw.com/" rel="friend met">Margaux Thwaites</a>, and <a href="https://monicayunagee.com/" rel="friend met">Monica Gee</a>). My responsibilities included user journey mapping, persona generation, user research, ideation, user testing, prototyping and UX/UI design.
        </p>
        <h2>Summary</h2>
        <p>
          AstronoMe is a mobile-based solution targeting the pre-trip mental health of space tourists set in the future. The concept’s focus on mental health narrows in on fear and anxieties, taking users through the <a href="https://en.wikipedia.org/wiki/Five_whys">5 whys</a> guided discovery process. The concept integrates a mixed reality experience to create a sense of immersion and effectively visualise links amongst a user’s insights. AstronoMe was conceived as a mobile app to provide privacy, accessibility and a quick experience that users can keep coming back to. 
        </p>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="content">
      <div class="ratio ratio-16x9 shadow my-5">
        <iframe title="AstronoMe Video Walkthrough - YouTube video player" src="https://www.youtube-nocookie.com/embed/NgcWeumd6L0?rel=0&origin=https://www.griffenedge.com" width="640" height="360" allowfullscreen loading="lazy"></iframe>
      </div>
      
      <h2>The challenge</h2>
      <p>Space travel is soon to take off as a major new part of the tourism industry, thanks to recent advances in the price and sophistication of space technologies. However, transporting people through the wondrous yet inhospitable environment of space comes with some big challenges: particularly in mental health. This led to the problem situation: in the age of space tourism, how might we minimise the impact of fears & anxiety so that travellers can embrace the experience?</p>

      {# <h2>Solution</h2>

      <h3>User Journey Mapping</h3>

      {% image
        "/assets/images/astronome/astronome-user-journey-map.png",
        "User Journey Mapping",
        "img-fluid shadow"
      %}

      <h2>Results</h2> #}

      <figure>
        <blockquote class="blockquote">
          <p>"I think sometimes we look to the sky to try and get some perspective. To think of ourselves as small, just like our problem is, in the concept of the big wide universe…"</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          User 4, round 1 testing
        </figcaption>
      </figure>

      <div class="ratio ratio-1x1 shadow my-5">
        <iframe
          title="AstronoMe Figma Prototype"
          width="640"
          height="640"
          src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FLTFMx9FAuiCEQauTOYWfUv%2FAstronoMe---MozMazGaz%3Fpage-id%3D0%253A1%26node-id%3D68%253A18%26viewport%3D241%252C48%252C0.06%26scaling%3Dscale-down%26starting-point-node-id%3D68%253A18"
          loading="lazy"
          allowfullscreen
          >
        </iframe>
      </div>
    </div>
  </div>
</article>