---
layout: layouts/base.njk
title: Canterbury Theatre Guild
theme: canterbury-theatre-guild
tags: project
---

<article class="container">
  <div class="content mx-auto">
    <h1>{{ title }}</h1>
    <p>
      <a href="https://www.canterburytheatreguild.com/">Canterbury Theatre Guild</a> is a not-for-profit community based musical theatre group where members of the community are welcome to join and participate in putting on a musical, concert and/or cabaret once or twice a year.</p>
    <p>I was the Marketing Manager at Canterbury Theatre Guild until April 2019 and was responsible for promoting our events to the community. I designed a wide range of promotional material for the guild, ranging from tickets to programs, digital advertising, videos and the website.</p>
  </div>
  <div class="p-3 mx-auto">
    <img class="img-fluid shadow" width="1280" height="800" src="/assets/images/canterbury-theatre-guild/canterbury-theatre-guild-home.png" srcset="/assets/images/canterbury-theatre-guild/canterbury-theatre-guild-home@2x.png 2x" alt="Canterbury Theatre Guild Homepage Screenshot" loading="lazy"/>
  </div>
  <div class="p-3 mx-auto">
    <img class="img-fluid shadow bg-white" src="/assets/images/canterbury-theatre-guild/canterbury-theatre-guild-about.png" alt="Canterbury Theatre Guild About Page Screenshot" loading="lazy"/>
  </div>
</article>
<aside class="container">
  <h2>Projects</h2>
  <div class="d-flex justify-content-around flex-wrap">
    <a class="project nine-to-five" href="/canterbury-theatre-guild/9-to-5/">
      <strong class="project-heading">9 to 5: The Musical</strong>
      <div class="circle">
        <img class="img-fluid w-100 valign" src="/assets/images/canterbury-theatre-guild/9-to-5/9-to-5-logo.svg" width="120" height="120" alt="9 to 5 logo" loading="lazy">
      </div>
    </a>
    <a class="project little-mermaid" href="/canterbury-theatre-guild/little-mermaid/">
      <strong class="project-heading">The Little Mermaid</strong>
      <div class="circle">
        <img class="img-fluid w-100 valign" src="/assets/images/canterbury-theatre-guild/little-mermaid/little-mermaid-logo.svg" width="120" height="120" alt="Little Mermaid logo" loading="lazy">
      </div>
    </a>
    <a class="project avenue-q" href="/canterbury-theatre-guild/avenue-q/">
      <strong class="project-heading">Avenue Q</strong>
      <div class="circle">
        <img class="img-fluid w-100 valign" src="/assets/images/canterbury-theatre-guild/avenue-q/avenue-q-logo.svg" width="120" height="120" alt="Avenue Q logo" loading="lazy">
      </div>
    </a>
    <a class="project steel-magnolias" href="/canterbury-theatre-guild/steel-magnolias/">
      <strong class="project-heading">Steel Magnolias</strong>
      <div class="circle">
        <img class="img-fluid w-100 valign" src="/assets/images/canterbury-theatre-guild/steel-magnolias/steel-magnolias-logo.png" width="120" height="120" alt="Steel Magnolias logo" loading="lazy">
      </div>
    </a>
  </div>
</aside>