---
layout: layouts/base.njk
title: Canterbury Theatre Guild
tagline: Community theatre volunteering
theme: canterbury-theatre-guild
logo:
  src: /assets/images/canterbury-theatre-guild/canterbury-theatre-guild-logo.svg
tags: other-work
date: 2017-07-22
---

<article class="container">
  <div class="content">
    <h1>{{ title }}</h1>
    <p>
      <a href="https://www.canterburytheatreguild.com/">Canterbury Theatre Guild</a> is a not-for-profit community based musical theatre group where members of the community are welcome to join and participate in putting on a musical, concert and/or cabaret once or twice a year.</p>
    <p>I was the Marketing Manager at Canterbury Theatre Guild until April 2019 and was responsible for promoting our events to the community. I designed a wide range of promotional material for the guild, ranging from tickets to programs, digital advertising, videos and the website.</p>
    <img class="img-fluid my-5 shadow" width="1280" height="800" src="/assets/images/canterbury-theatre-guild/canterbury-theatre-guild-home.png" srcset="/assets/images/canterbury-theatre-guild/canterbury-theatre-guild-home@2x.png 2x" alt="Canterbury Theatre Guild Homepage Screenshot" loading="lazy"/>
    <img class="img-fluid my-5 shadow bg-white" src="/assets/images/canterbury-theatre-guild/canterbury-theatre-guild-about.png" alt="Canterbury Theatre Guild About Page Screenshot" loading="lazy"/>
  </div>
</article>
<aside class="container">
  <h2>Projects</h2>
  <ul class="projects">
    {%- for project in collections["canterbury-theatre-guild-project"] | reverse -%}
      {% include "project-card.njk" %}
    {%- endfor -%}
  </ul>
</aside>