---
layout: layouts/base.njk
title: ["Cetaceans: From Captivity to Liberty"]
tagline: Short advocacy documentary
theme: cetaceans
logo:
  src: /assets/images/cetaceans/cetaceans-logo.svg
tags: other-work
date: 2018-06-11
---

<article>
  <section class="masthead text-light">
    <div class="container">
      <div class="content">
        <h1>{{ title }}</h1>
        <p>
          Raising awareness of cetaceans in captivity with marine researcher
          <a href="https://sylviaadam.wordpress.com/">Sylvia Adam</a>.
        </p>
        <div class="row">
          <div class="col-md-6">
            <h2 class="h6">Type</h2>
            <p>
              Short documentary for
              <a href="https://www.sydney.edu.au/units/DECO1014"
                >DECO1014: Digital Media Production</a
              >
              at the University of Sydney
            </p>
          </div>
          <div class="col">
            <h2 class="h6">Duration</h2>
            <p>March to June 2018</p>
          </div>
        </div>
        <h2 class="h6">Role</h2>
        <p>
          <strong>Director</strong> on a team of 3 (myself, Cattleya U-Thaipat
          &amp; Ramona Codd-Miller).
        </p>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="content">
      <div class="ratio ratio-16x9 shadow my-5">
        <iframe
          title="Cetaceans: From Captivity to Liberty - YouTube video player"
          src="https://www.youtube-nocookie.com/embed/Ons89Z242Ww?rel=0&origin=https://www.griffenedge.com"
          width="640"
          height="360"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</article>
