---
layout: layouts/base.njk
title: Grammarly Service Analysis
tagline: Online ethnography research
theme: grammarly-service-analysis
logo:
  src: /assets/images/grammarly-service-analysis/grammarly-logo.svg
tags: other-work
date: 2019-03-12
---

<article>
  <section class="masthead text-light">
    <div class="container">
      <div class="content">
        <h1>{{ title }}</h1>
        <div class="row">
          <div class="col-md-6">
            <h2 class="h6">Project type</h2>
            <p>
              Online ethnography research for
              <a href="https://www.sydney.edu.au/units/DECO2014"
                >DECO2014: User Experience Design Studio</a
              >
              at the University of Sydney
            </p>
          </div>
          <div class="col">
            <h2 class="h6">Duration</h2>
            <p>March 2019</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="content">
      <p>
        Grammarly is a cross-platform proofreading service that performs
        grammar, spelling and plagiarism checks. It also purports to assist with
        “style and tone”. The service takes advantage of “artificial
        intelligence” to help users in not only correcting but improving their
        writing. Grammarly doesn’t have much in the way of direct competitors
        and reported 6.9 million daily users in 2017.
      </p>
      <p>
        The data for this analysis was formed through the conduct of online
        ethnography research. Reviews of the Grammarly service were sourced from
        Trustpilot, Google Play Store, and Sitejabber according to the criteria
        that each review user must have given/received more than one review
        and/or helpful vote on the respective platform.
      </p>
      <p>
        I personally have used Grammarly for over a year, so used my own
        experience with the service to assist my interpretation of the online
        community’s posts.
      </p>
      {%
        image
        "/assets/images/grammarly-service-analysis/grammarly-user-flow.png",
        "Grammarly User Flow Diagram",
        "img-fluid w-100 shadow my-5"
      %}
    </div>
  </div>
</article>
