---
layout: layouts/base.njk
title: Guitar DIY
tagline: Educational website prototype
theme: guitar-diy
logo:
  src: /assets/images/guitar-diy/guitar-diy-logo.svg
tags: other-work
---

<article class="container">
  <div class="content mx-auto">
    <h1>{{ title }}</h1>
    <p>A university project to teach people the basics of guitar maintenance and improvements.</p>
    <a href="https://guitardiy.github.io">Check out the website!</a>
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/guitar-diy/guitar-diy-screenshot-home-600w.png" srcset="/assets/images/guitar-diy/guitar-diy-screenshot-home-600w.png 600w, /assets/images/guitar-diy/guitar-diy-screenshot-home-900w.png 900w, /assets/images/guitar-diy/guitar-diy-screenshot-home-1200w.png 1200w, /assets/images/guitar-diy/guitar-diy-screenshot-home-1800w.png 1800w" alt="Guitar DIY Homepage Screenshot">
  </div>
  <div class="col-lg-9 p-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/guitar-diy/guitar-diy-screenshot-replacing-tuners-600w.png" srcset="/assets/images/guitar-diy/guitar-diy-screenshot-replacing-tuners-600w.png 600w, /assets/images/guitar-diy/guitar-diy-screenshot-replacing-tuners-900w.png 900w, /assets/images/guitar-diy/guitar-diy-screenshot-replacing-tuners-1200w.png 1200w, /assets/images/guitar-diy/guitar-diy-screenshot-replacing-tuners-1800w.png 1800w" alt="Guitar DIY Replacing Tuners Tutorial Screenshot">
  </div>
</article>