---
layout: layouts/base.njk
title: Guitar DIY
tagline: Educational website prototype
theme: guitar-diy
logo:
  src: /assets/images/guitar-diy/guitar-diy-logo.svg
tags: other-work
date: 2018-11-08
---

<article class="container">
  <div class="content">
    <h1>{{ title }}</h1>
    <p>
      A university project to teach people the basics of guitar maintenance and
      improvements.
    </p>
    <p>
      Check out the <a href="https://guitardiy.github.io">Guitar DIY site</a>!
    </p>
    {%
      image
      "/assets/images/guitar-diy/guitar-diy-screenshot-home.png",
      "Guitar DIY Homepage",
      "img-fluid shadow my-5",
      "eager"
    %}
    {%
      image
      "/assets/images/guitar-diy/guitar-diy-screenshot-replacing-tuners.png",
      "Guitar DIY Replacing Tuners Tutorial",
      "img-fluid shadow"
    %}
  </div>
</article>
