---
layout: layouts/base.njk
eleventyNavigation:
  key: Projects
  order: 1
---

<div class="container">
  <section class="content my-5">
    <h1>{{ metadata.title }}</h1>
    <h2>{{ metadata.tagline }}</h2>
    <p class="lead">I'm passionate about bringing a holistic design approach to big problems in order to make a difference in people’s lives.</p>
    <a class="btn btn-dark shadow-sm" href="/about/">Find out more about me!</a>
  </section>
  <nav aria-label="Projects">
    <section id="case-studies" class="my-5">
      <h2>Case studies</h2>
      <ul class="projects">
        {%- for project in collections["case-study"] | reverse -%}
          {% include "project-card.njk" %}
        {%- endfor -%}
      </ul>
    </section>
    <section class="my-5">
      <h2>Other work</h2>
      <ul class="projects">
        {%- for project in collections["other-work"] | reverse -%}
          {% include "project-card.njk" %}
        {%- endfor -%}
      </ul>
    </section>
  </nav>
</div>