---
layout: base.liquid
---
<section class="intro-section">
  <img
    class="intro-section-media"
    src="/assets/images/griffen-edge-2025.jpg"
    alt="Griffen's smiling bespectacled face"
  >
  <h1 class="intro-section-heading">
    <strong>Hey there, I'm Griffen</strong>, a user experience designer who creates accessible and inclusive solutions
    that empower everyday people.
  </h1>
  <p>
    I'm a UI/UX Designer at
    <a href="https://www.ssw.com.au/"> {% indieAvatar "https://www.ssw.com.au/" %}SSW Australia</a>
    with experience across education, government, health & aged care, and insurance.
  </p>
</section>

<section class="featured-work-section" id="featured-work">
  <h2>Featured work</h2>
  <div class="projects">
    {%- for project in collections["featured-work"] | reverse -%}
      {% include 'project-card.liquid' %}
    {%- endfor -%}
  </div>
</section>

<section class="about-section" id="about">
  <h2>About Griffen</h2>
  <p>
    Griffen Edge is a user experience designer from Sydney, Australia looking to collaborate with innovative teams to
    create exceptional user experiences that empower everyday people.
  </p>
  <p>
    Most recently he worked at
    <a href="https://www.avanade.com/"> {% indieAvatar "https://www.avanade.com/" %} Avanade </a>
    as an Experience Design Consultant to clients across Government, Health & Aged Care, and Insurance. Prior to that he
    was the Digital Officer at
    <a href="https://www.sydneycommunitycollege.edu.au/">
      {% indieAvatar "https://www.sydneycommunitycollege.edu.au/" %} Sydney Community College
    </a>
    where he spearheaded a major website redesign and developed a customer membership program.
  </p>
  <p>
    He studied a Bachelor of Design Computing at the
    <a href="https://www.sydney.edu.au/"> {% indieAvatar "https://www.sydney.edu.au/" %} University of Sydney </a>
    . While there, he fostered an inclusive community of UX design students and alumni as the President of the
    <a href="https://www.suede.org.au/">
      {% indieAvatar "https://www.suede.org.au/" %} Sydney University Experience Designers</a
    >.
  </p>
  <p>
    He has been on the committee at
    <a href="https://www.innerwesttheatre.com.au/">
      {% indieAvatar "https://www.innerwesttheatre.com.au/" %} Inner West Theatre Company
    </a>
    (formerly Canterbury Theatre Guild) for almost a decade, helping to promote the performing arts to the community, as
    well as providing a pair of hands backstage from time to time.
  </p>
</section>

<section id="other-work">
  <h2>Other work</h2>
  <div class="projects">
    {%- for project in collections["other-work"] | reverse -%}
      {% include 'project-card.liquid' %}
    {%- endfor -%}
  </div>
</section>
