---
layout: layouts/base.njk
title: Pledge & Protect
tagline: Community mapping concept
description: Pledge & Protect is a community mapping of loved ones that need to be protected from COVID-19 and people who pledge to practice COVID-safe behaviours.
theme: pledge-protect
logo:
  src: /assets/images/pledge-protect/pledge-protect-logo.svg
tags: other-work
---

<article>
  <section class="masthead text-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-xl-8 mx-auto">
          <h1>{{ title }}</h1>
          <p>Using smart technology to make riding safely easy.</p>
          <p>
            <a href="https://pledgeprotect.netlify.app/">Live prototype</a>
          </p>
          <div class="row">
            <div class="col-md-6">
              <h2 class="h6">Type</h2>
              <p>Project for <a href="https://www.sydney.edu.au/units/DECO3200">DECO3200: Interactive Product Design Studio</a> at the University of Sydney</p>
            </div>
            <div class="col">
              <h2 class="h6">Duration</h2>
              <p>August to November 2020</p>
            </div>
          </div>
          <h2 class="h6">Role</h2>
          <p>I was on a team of 3 (myself, Nancy Nguyen, and <a href="https://www.raunaksitoula.com/" rel="friend met">Raunak Sitoula</a>). My responsibilities included research, ideation, user testing, video production, and interface design.</p>
          <h2>Summary</h2>
          <p>Pledge &amp; Protect is a community mapping of loved ones that need to be protected from COVID-related complications and people who pledge to practice physical distancing and other COVID-safe behaviours.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="my-5">
      <div class="ratio ratio-16x9 shadow">
        <iframe title="Pledge & Protect: COVID Community Mapping - YouTube video player" src="https://www.youtube-nocookie.com/embed/Fcmz6cIJRFI?rel=0&origin=https://www.griffenedge.com" width="640" height="360" allowfullscreen loading="lazy"></iframe>
      </div>
    </div>
  </div>
</article>