---
layout: layouts/base.njk
title: Sydney Secondary College
theme: sydney-secondary-college
logo:
  src: /assets/images/sydney-secondary-college/sydney-secondary-college-logo.svg
tags: other-work
---

<article class="container">
  <div class="content mx-auto">
    <h1>{{ title }}</h1>
    <p>While studying at Sydney Secondary College, I had a number of opportunities to assist the school with design work. </p>
    <p>The East Timor Bake Sale was created by the Social Justice Committee to raise money for SSC's sister school in East Timor.</p>
  </div>
  <h2>East Timor Bake Sale</h2>
  <div class="row">
    <div class="col-lg p-3">
      <img class="img-fluid" src="/assets/images/sydney-secondary-college/sydney-secondary-college-east-timor-bake-sale-red.png" alt="East Timor Bake Sale Red Poster" loading="lazy">
    </div>
    <div class="col-lg p-3">
      <img class="img-fluid" src="/assets/images/sydney-secondary-college/sydney-secondary-college-east-timor-bake-sale-green.png" alt="East Timor Bake Sale Green Poster" loading="lazy">
    </div>
    <div class="col-lg p-3">
      <img class="img-fluid" src="/assets/images/sydney-secondary-college/sydney-secondary-college-east-timor-bake-sale-yellow.png" alt="East Timor Bake Sale Yellow Poster" loading="lazy">
    </div>
    <div class="col-lg p-3">
      <img class="img-fluid" src="/assets/images/sydney-secondary-college/sydney-secondary-college-east-timor-bake-sale-blue.png" alt="East Timor Bake Sale Blue Poster" loading="lazy">
    </div>
  </div>
  <h2>Market Day</h2>
  <div class="row">
    <div class="col-lg p-3">
      <img class="img-fluid" src="/assets/images/sydney-secondary-college/sydney-secondary-college-spiderific.png" srcset="/assets/images/sydney-secondary-college/sydney-secondary-college-spiderific@2x.png 2x" alt="Spider Poster" loading="lazy">
    </div>
    <div class="col-lg p-3">
      <img class="img-fluid" src="/assets/images/sydney-secondary-college/sydney-secondary-college-sponger.png" srcset="/assets/images/sydney-secondary-college/sydney-secondary-college-sponger@2x.png 2x" alt="Sponge Throw Poster" loading="lazy">
    </div>
  </div>
</article>