---
layout: layouts/base.njk
title: Volunteering at Greenpeace
theme: volunteering-at-greenpeace
logo:
  src: /assets/images/volunteering-at-greenpeace/volunteering-at-greenpeace-logo.svg
tags: other-work
---

<article class="container">
  <div class="content mx-auto">
    <h1>{{ title }}</h1>
    <p>A university project to redesign the Volunteering at Greenpeace Asia-Pacific brand.</p>
  </div>
  <div class="col-lg-9 pt-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/volunteering-at-greenpeace/volunteering-at-greenpeace-welcome-how-to.png" srcset="/assets/images/volunteering-at-greenpeace/volunteering-at-greenpeace-welcome-how-to@2x.png 2x" alt="Volunteering at Greenpeace Welcome and How To">
  </div>
  <div class="col-lg-9 pb-3 mx-auto">
    <img class="img-fluid shadow" src="/assets/images/volunteering-at-greenpeace/volunteering-at-greenpeace-whos-who-where-to.png" srcset="/assets/images/volunteering-at-greenpeace/volunteering-at-greenpeace-whos-who-where-to@2x.png 2x" alt="Volunteering at Greenpeace Who's Who and Where To">
  </div>
</article>